@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-family: 'Poppins', sans-serif;

    --light-accent-color: #3E84E0;
    --dark-accent-color: #0032A0;

    --light-text-color: #FFFFFF;
    --dark-text-color: #000000;

    --light-grey: #EEEEEE;
    --medium-grey: #BBBBBB;
    --dark-grey: #999999;

    --light-background-color: #FFFFFF;
    --dark-background-color: #444444;
}

* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: none;
}